.same-height {
  min-height: 210px;
  margin-bottom: 20px;
}

.full-width {
  min-width: 100%;
}

.form-container {
  margin: 0
}

@media( max-width: 360px) {
  .full-width {
    width: auto;
  }
}

#searchBox {
  font-size: 1.2em;
}


/* .center {
  display: flex;
  flex-direction: row;
} */

.progressbar {
  margin: 0;
  padding: 0;
}

app-loader {
  margin: auto;
}

.alert-danger {
  color: white;
  background-color: rgba(244, 67, 54, 0.8);
}

.btn-check:disabled {
  background-color: rgba(103, 58, 183, 0.4);
  color: white;
}

.btn-check:disabled:hover {
  cursor: not-allowed;
}


/* wylaczenie zoltego tla autofill */

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus input:-webkit-autofill,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: none !important;
  transition: background-color 5000s ease-in-out 0s;
}
