* {
    margin: 0;
    padding: 0;
}
.details {
    margin-top: 10px;
    margin-bottom: 10px;
    display: block;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    margin-top: 10px;
    margin-bottom: 10px;
   font-size: 1.3em;
    border: 2px solid rgb(7, 98, 191);
    border-radius: 0.2em;
    color: black;
}
p {
    text-align: left;
    padding: 5px;
}
