.component {
    margin-top: 20px;
    margin-bottom: 20px;
}
.same-height {
    min-height: 210px;
  }

md-card-title {
    text-align: left;
}
.details {
    margin-top: 10px;
    margin-bottom: 10px;

    padding-top: 0.2em;
    padding-bottom: 0.2em;
    margin-top: 10px;
    margin-bottom: 10px;
   font-size: 1.3em;

    color: black;
}
p {
    text-align: left;
    padding: 5px;
}

