ul {
    list-style: none;
    text-decoration: none;
}
ul > li {
    position: relative;
}
.element:first-child {
    margin-top: 0;
}
.element {
    display: block;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 15px;
   font-size: 1.3em;
    border: 2px solid rgb(7, 98, 191);
    border-radius: 0.2em;
    color: black;
}

p {
    font-weight: bold;
    margin-bottom: 5px;
}

.btn-cancel {
    position: absolute;
    height: 100%;
    top: 0px;
    right: 0px;
    margin: 0;
    border-radius: 0.2em;
    opacity: 0.8;


  
   

}