<p>
  check-detail works! 
</p>
<div class="input-group check-detail-input">
  <div class="col-md-10">
    <p>Nazwa</p>
  <input type="text" class="form-control" value="kk">  
  </div>
  <div class="row">
    <div class="col-md-6">
        <p>Ulica</p>
     
        <input type="text" class="form-control" placeholder="Ulica">
      
    </div>
    <div class="col-md-4">
        <p>Numer</p>
     
        <input type="text" class="form-control" placeholder="Numer">
      
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
        <p>Kod Pocztowy</p>
      
        <input type="text" class="form-control" placeholder="Kod">
      
    </div>
    <div class="col-md-6">
        <p>Miasto</p>
      
        <input type="text" class="form-control" placeholder="Miasto">
      
    </div>
  </div>

</div>
<br>
