
.main-wrapper {
  margin-top: 0;
  min-height: calc(100vh - 20px);
  background-image: url("/assets/images/doodles.png")
}

.head {
  font-size: 1.2em;
  font-weight: bold;
  margin-top: 0;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 2px solid #D1D3D4;
  border-radius: 0px 0px 25px 25px;
  background-color: white;
}

.hint {
  font-family: "Roboto", sans-serif;
  font-size: 0.9em;
  font-style: italic;
  
}


.footer {
  color: rgb(46, 46, 46);
  text-align: center;
  /* background-image: url("/assets/images/fabric_of_squares_gray.png"); */
  background-color: white;
  height: 20px;
}
@media (max-width: 360px) {
  .footer {
    height: 40px;
  }
}
